:root {
  --size: 800px;
  --bg-init: #051025;
  --bg-end: #072037;
}



body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--bg-init) 0%, var(--bg-end)  100%);
}

.area {
  width: var(--size);
  height: var(--size);
  box-shadow: 0 8px 30px rgba(2, 6, 23, 0.7);
  border-radius: 12px;
  box-sizing: border-box;
  background: radial-gradient(circle at 30% 10%, rgba(255,255,255,0.05), transparent 20%),
                  linear-gradient(0deg, rgba(255,255,255,0.05), transparent 60%); 
   
}

/*

  background: radial-gradient(circle at 30% 30%, rgba(255,255,255,0.12), transparent 90%);

  background: linear-gradient(135deg, rgba(255,255,255,0.2), #05102588 35%,  #051025cc 90%);

  background: radial-gradient(circle at 30% 10%, rgba(255,255,255,0.12), transparent 20%),
                  linear-gradient(180deg, rgba(255,255,255,0.2), transparent 60%);


*/
